/* line 2, ../sass/common.scss */
body {
  background-color: #393939;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica Neue';
}
/* line 13, ../sass/common.scss */
body h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 10px auto;
}
/* line 18, ../sass/common.scss */
body h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 10px auto;
}
/* line 23, ../sass/common.scss */
body h6 {
  font-size: 1.3em;
  margin: 10px auto;
}
/* line 27, ../sass/common.scss */
body a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
/* line 31, ../sass/common.scss */
body a:hover {
  text-decoration: none;
}
/* line 35, ../sass/common.scss */
body .button {
  border-radius: 3px;
  padding: 6px 13px;
}
/* line 39, ../sass/common.scss */
body .pull-left {
  float: left;
}
/* line 42, ../sass/common.scss */
body .pull-right {
  float: right;
}
/* line 45, ../sass/common.scss */
body .horizontal-divider {
  border-bottom: 1px solid #555555;
  margin: 0 auto;
  padding-top: 20px;
  width: 50px;
}
/* line 51, ../sass/common.scss */
body .vertical-divider {
  display: inline-block;
  color: #555555;
}
/* line 54, ../sass/common.scss */
body .vertical-divider:after {
  content: "|";
  margin: 12px;
}
/* line 59, ../sass/common.scss */
body .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* line 64, ../sass/common.scss */
body .center {
  text-align: center;
}
/* line 67, ../sass/common.scss */
body li {
  color: #bbb;
}
/* line 70, ../sass/common.scss */
body img {
  display: inline-block;
}
