@import url(fontello.css);
/* line 5, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  background: url("../images/background.jpg");
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica Neue';
}
/* line 10, ../sass/style.scss */
body a {
  text-decoration: none;
  color: #fff;
}
/* line 13, ../sass/style.scss */
body a:hover {
  text-decoration: none;
}
/* line 17, ../sass/style.scss */
body .left {
  float: left;
}
/* line 20, ../sass/style.scss */
body .right {
  float: right;
}
/* line 23, ../sass/style.scss */
body header {
  padding: 10px;
  text-align: center;
  background-color: #2d2d2d;
  width: 100%;
  clear: both;
}
/* line 29, ../sass/style.scss */
body header .logo {
  font-size: 1.3em;
  line-height: 1.9em;
  font-weight: bold;
  display: inline-block;
}
/* line 34, ../sass/style.scss */
body header .logo img {
  height: 36px;
  margin: 4px 0 -10px 0;
}
/* line 39, ../sass/style.scss */
body header .divider {
  display: inline-block;
}
/* line 41, ../sass/style.scss */
body header .divider:after {
  content: "|";
  margin: 12px;
}
/* line 46, ../sass/style.scss */
body header .options {
  display: inline-block;
  clear: both;
  width: 55%;
  vertical-align: middle;
  padding-top: 10px;
}
/* line 53, ../sass/style.scss */
body header .options .right a {
  border-radius: 3px;
  background-color: #e98325;
  padding: 6px 13px;
  margin-left: 1px;
}
/* line 61, ../sass/style.scss */
body header .options .left input {
  line-height: 1.5em;
  font-size: 1em;
  padding: 3px;
  border: 0;
  border-radius: 2px;
  background-color: #4d4d4d;
  width: 100%;
}
/* line 70, ../sass/style.scss */
body header .options .left .icon-search {
  position: relative;
  top: -20px;
}
/* line 77, ../sass/style.scss */
body nav {
  background-color: #4d4d4d;
  width: 100%;
  clear: both;
}
/* line 81, ../sass/style.scss */
body nav ul {
  height: 29px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
}
/* line 87, ../sass/style.scss */
body nav ul li {
  float: left;
  margin-left: 5em;
}
