@charset "UTF-8";
/* line 5, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../vendor/bundle/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?12683848");
  src: url("../font/fontello.eot?12683848#iefix") format("embedded-opentype"), url("../font/fontello.woff?12683848") format("woff"), url("../font/fontello.ttf?12683848") format("truetype"), url("../font/fontello.svg?12683848#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?12683848#fontello') format('svg');
  }
}
*/
/* line 22, ../sass/fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/fontello.scss */
.icon-search:before {
  content: '\e800';
}

/* '' */
/* line 54, ../sass/fontello.scss */
.icon-user:before {
  content: '\e801';
}

/* '' */
/* line 55, ../sass/fontello.scss */
.icon-angle-right:before {
  content: '\e802';
}

/* '' */
/* line 56, ../sass/fontello.scss */
.icon-linkedin-rect:before {
  content: '\e803';
}

/* '' */
/* line 2, ../sass/common.scss */
body {
  background-color: #393939;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica Neue';
}
/* line 13, ../sass/common.scss */
body h1 {
  font-size: 3.5em;
  text-align: center;
  margin: 10px auto;
}
/* line 18, ../sass/common.scss */
body h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 10px auto;
}
/* line 23, ../sass/common.scss */
body h6 {
  font-size: 1.3em;
  margin: 10px auto;
}
/* line 27, ../sass/common.scss */
body a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
/* line 31, ../sass/common.scss */
body a:hover {
  text-decoration: none;
}
/* line 35, ../sass/common.scss */
body .button {
  border-radius: 3px;
  padding: 6px 13px;
}
/* line 39, ../sass/common.scss */
body .pull-left {
  float: left;
}
/* line 42, ../sass/common.scss */
body .pull-right {
  float: right;
}
/* line 45, ../sass/common.scss */
body .horizontal-divider {
  border-bottom: 1px solid #555555;
  margin: 0 auto;
  padding-top: 20px;
  width: 50px;
}
/* line 51, ../sass/common.scss */
body .vertical-divider {
  display: inline-block;
  color: #555555;
}
/* line 54, ../sass/common.scss */
body .vertical-divider:after {
  content: "|";
  margin: 12px;
}
/* line 59, ../sass/common.scss */
body .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* line 64, ../sass/common.scss */
body .center {
  text-align: center;
}
/* line 67, ../sass/common.scss */
body li {
  color: #bbb;
}
/* line 70, ../sass/common.scss */
body img {
  display: inline-block;
}

/* line 6, ../sass/style.scss */
header {
  padding: 10px;
  background-color: #2d2d2d;
  width: 100%;
  clear: both;
}
/* line 11, ../sass/style.scss */
header .logo {
  font-size: 1.3em;
  line-height: 1.9em;
  font-weight: bold;
  display: inline-block;
}
/* line 16, ../sass/style.scss */
header .logo img {
  height: 36px;
  margin: 4px 0 -10px 0;
}
/* line 21, ../sass/style.scss */
header .options {
  display: inline-block;
  clear: both;
  width: 55%;
  vertical-align: middle;
  padding-top: 10px;
}
/* line 28, ../sass/style.scss */
header .options .pull-right .button {
  background-color: #e98325;
  margin-left: 1px;
  cursor: pointer;
}
/* line 32, ../sass/style.scss */
header .options .pull-right .button.upload {
  padding: 8px 14px;
  position: relative;
  bottom: 2px;
}
/* line 37, ../sass/style.scss */
header .options .pull-right .button .hd {
  background: url("../images/hd-icn.svg") no-repeat 0 2px;
  width: 18px;
  height: 16px;
  display: inline-block;
}
/* line 43, ../sass/style.scss */
header .options .pull-right .button:hover {
  background-color: #d76c03;
}
/* line 47, ../sass/style.scss */
header .options .pull-right .icon-user {
  background: none;
  color: #d7d7d7;
  font-size: 2em;
  position: relative;
  top: 5px;
}
/* line 53, ../sass/style.scss */
header .options .pull-right .icon-user.button {
  border: none;
  padding: 0;
}
/* line 57, ../sass/style.scss */
header .options .pull-right .icon-user:hover {
  background: none;
}
/* line 63, ../sass/style.scss */
header .options .pull-left input[type=search] {
  line-height: 1.5em;
  font-size: 1em;
  padding: 3px;
  border: 0;
  border-radius: 2px;
  background-color: #4d4d4d;
  width: 100%;
}
/* line 72, ../sass/style.scss */
header .options .pull-left .icon-search {
  position: relative;
  top: -20px;
}

/* line 80, ../sass/style.scss */
nav {
  background-color: #4d4d4d;
  width: 100%;
  clear: both;
}
/* line 84, ../sass/style.scss */
nav ul {
  height: 29px;
  width: 75%;
  margin: 0 auto;
  line-height: 2em;
}
/* line 89, ../sass/style.scss */
nav ul li {
  float: left;
  margin-left: 5em;
}
/* line 92, ../sass/style.scss */
nav ul li a:hover {
  color: #07a;
}

/* line 99, ../sass/style.scss */
.main-content {
  background: url("../images/background.jpg");
}
/* line 101, ../sass/style.scss */
.main-content article {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 106, ../sass/style.scss */
.main-content .create {
  background-color: #2672ae;
  font-size: 1.5em;
  margin: 10px 10px 20px;
  padding: 10px 13px;
}
/* line 111, ../sass/style.scss */
.main-content .create:hover {
  background-color: #07a;
}
/* line 115, ../sass/style.scss */
.main-content .not-create {
  border: 1px solid #fff;
  padding: 9px 12px;
  font-size: 1.5em;
}
/* line 119, ../sass/style.scss */
.main-content .not-create:hover {
  background-color: #fff;
  color: #2672ae;
}
/* line 124, ../sass/style.scss */
.main-content .hills {
  height: 330px;
  margin: 40px auto;
}
/* line 127, ../sass/style.scss */
.main-content .hills img {
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
}
/* line 131, ../sass/style.scss */
.main-content .hills img.left {
  z-index: 1;
}
/* line 134, ../sass/style.scss */
.main-content .hills img.middle {
  left: -50px;
}
/* line 137, ../sass/style.scss */
.main-content .hills img.right {
  right: -200px;
  top: -165px;
}

/* line 145, ../sass/style.scss */
footer {
  max-width: 940px;
  margin: 0 auto;
}
/* line 148, ../sass/style.scss */
footer .ad-message {
  margin-top: 40px;
  font-size: 1.9em;
  line-height: 1.5em;
}
/* line 153, ../sass/style.scss */
footer .explanations {
  margin: 40px auto 0;
  width: 100%;
}
/* line 156, ../sass/style.scss */
footer .explanations li {
  float: left;
  width: 33.33%;
  position: relative;
}
/* line 160, ../sass/style.scss */
footer .explanations li h6 {
  color: #fff;
}
/* line 163, ../sass/style.scss */
footer .explanations li .icon-angle-right {
  font-size: 2.2em;
  font-weight: 1;
  position: absolute;
  right: -30px;
  top: 11px;
  color: #555555;
}
/* line 173, ../sass/style.scss */
footer .create {
  font-size: 1.5em;
  margin: 40px 10px 20px;
  padding: 10px 13px;
  background-color: #fff;
  color: #2672ae;
}
/* line 179, ../sass/style.scss */
footer .create:hover {
  background-color: #eee;
  color: #07a;
}
/* line 184, ../sass/style.scss */
footer .copy-right {
  margin: 40px auto;
  color: #bbb;
}
